aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
aniso8601==9.0.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.1.0
constantly==15.1.0
cryptography==40.0.2
daphne==4.0.0
Django==4.1.6
django-cors-headers==3.13.0
django-cron==0.6.0
django-grip==2.0.2
django-phonenumber-field==7.0.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
frozenlist==1.3.3
graphene==3.2.2
graphql-core==3.2.3
graphql-relay==3.2.0
gripcontrol==3.3.1
gunicorn==20.1.0
httplib2==0.22.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
jsonschema==4.17.3
msgpack==1.0.5
multidict==6.0.4
oauthlib==3.2.2
phonenumbers==8.13.7
Pillow==9.4.0
promise==2.3
protobuf==4.22.4
psycopg2-binary==2.9.6
pubcontrol==2.4.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==1.7.1
pyOpenSSL==23.1.1
pyotp==2.8.0
pyparsing==3.0.9
pyrsistent==0.19.3
pytz==2022.7.1
redis==4.5.5
requests==2.30.0
requests-oauthlib==1.3.1
rsa==4.9
service-identity==21.1.0
simplejwt==2.0.1
six==1.16.0
sqlparse==0.4.3
text-unidecode==1.3
twilio==8.2.0
Twisted==22.10.0
txaio==23.1.1
typing==3.7.4.3
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==2.0.2
Werkzeug==0.16.1
yarl==1.9.2
zope.interface==6.0
