cachetools
channels-redis
daphne
django-cors-headers
django-cron
django-grip
django-phonenumber-field
djangorestframework-simplejwt
graphene
gunicorn
httplib2
jsonschema
pandas
phonenumbers
pillow
pip-chill
promise
protobuf
psycopg2-binary
pyopenssl
pyotp
requests-oauthlib
rsa
service-identity
simplejwt
text-unidecode
twilio
uritemplate
xlsxwriter
